#genreFilter {
  > select {
    background-color: $backgroundColor;
    color: $textColor;
    margin: 50px 20px;
    width: 90%;
    height: 30px;
    border: 1px solid $textColor;
    border-radius: 10px;
    padding-left: 5px;
    font-size: 20px;
  }
}
