#pagination {
  width: 100%;
  margin: 20px 0 70px 0;
  display: flex;
  justify-content: center;
  align-items: center;

  > button:first-child {
    border: 1px solid $textColor;
  }

  > ul {
    width: 60%;
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;

    > li > a {
      width: 40px;
      text-align: center;
      padding: 0 5px;
      margin: 0 5px;
    }
  }

  > button:nth-child(3) {
    border: 1px solid $textColor;
  }

  > button:nth-child(3):hover {
    cursor: pointer;
  }
}
